@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skill-title {
    @apply z-20 flex-shrink-0 order-1 flex md:mb-0 mb-4 relative items-end self-center justify-center mx-auto text-white w-40 h-40;
    margin-top: -5rem;
  }

  .skill-title::before {
    @apply bg-zinc-800 shadow-xl absolute w-40 h-40;
    content: "";
    z-index: -1;
    transform: rotate(-45deg);
  }

  .timeline {
    .timeline-container {
      @apply md:mb-8 md:mt-8 flex justify-between items-stretch w-full flex-wrap sm:flex-nowrap;

      .timeline-content {
        @apply order-1 bg-zinc-700 rounded-lg shadow-xl md:w-5/12 m-2 px-6 py-4 flex-grow;
      }

      .timeline-info {
        @apply z-20 flex-shrink-0 order-1 md:flex items-center self-center hidden justify-between text-white mx-8 w-24 h-24;
      }

      .timeline-info::before {
        @apply bg-zinc-800 shadow-xl absolute w-24 h-24;
        content: "";
        z-index: -1;
        transform: rotate(-45deg);
      }

      .timeline-info:after {
        @apply border-zinc-400 absolute border-r w-24 h-24;
        content: "";
        position: absolute;
        border-right-style: solid;
        transform: translateX(calc(-50% + 2px));
      }
    }
  }
}

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  @apply flex flex-col min-h-screen bg-zinc-600;
}

main {
  flex: 1;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-[100];
}

.lazy.timeline-content {
  opacity: 0;
  transform: translateY(-50%);
  will-change: transform, opacity;
}

.animate.timeline-content {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1.5s;
}

.lazy.timeline-info {
  opacity: 0;
  transform: translateY(-50%);
  will-change: transform, opacity;
}

.animate.timeline-info {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1.5s;
}

.lazy.bar {
  width: 0px;
  will-change: width;
}

.animate.bar {
  width: var(--animate-w);
  transition: width 2s;
}
